

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#f80b0b;
    --black:#000000;
    --bg:#050101;
    --border:.4rem solid rgba(238, 17, 17, 0.877);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: rgb(231, 11, 11);
    border-radius: 5rem;
}

body{
    background: var(--bg);
}



section{
    padding:1rem 5%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:rgb(245, 237, 237);
    background: var(--main-color);
    cursor: pointer;
}

* {box-sizing: border-box}

body {
  --light: hsl(0, 100%, 100%);
  --background: linear-gradient(to right bottom, hsla(0, 87%, 50%, 0.418), hsl(0, 83%, 54%));


   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;

 min-height: 100vh;
}
gabi
{
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.5));
   animation: fadeInOut 1s linear infinite; 

}
@keyframes fadeInOut
{
    0%,100%
    {
        opacity: 0;
    }
    20%,80%
    {
        opacity: 1;

    }
}
gabi::before 
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/heart.png);
    background-size: cover;
    animation: moveShape 1s linear infinite;
}
@keyframes moveShape
{
    0%
    {
        transform: translate(0) rotate(0deg);
    }
    100%
    {
        transform: translate(300px) rotate(360deg);
    }
}

/* modal */
/* =============================================== */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: rgba(24, 26, 24, 0.726);
}

/* usando :target */
.modal-container:target {
  display: flex;
}

.modal {
  width: 60rem;
  padding: 2rem 2rem;
  border-radius: .8rem;

  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem hsl(172, 99%, 49%);
  position: relative;

  overflow: hidden;
}

.modal__details {
  text-align: center;

  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgb(7, 230, 218);
}

.modal__title {
  font-size: 3.2rem;
}

.modal__description {
  margin-top: 2rem;

  font-size: 1.6rem;
  font-style: italic;
}

.modal__text {
  padding: 0 4rem;
  margin-bottom: 4rem;

  font-size: 1.6rem;
  line-height: 2;
}

.modal__text::before {
  content: '';

  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);

  width: 18rem;
  height: 18rem;
  border: 1px solid rgba(5, 255, 193, 0.986);
  border-radius: 100rem;

  pointer-events: none;
}

.modal__btn {
  padding: 1rem 1.6rem;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}

.modal__btn:hover,
.modal__btn:focus {
  border-color: rgba(29, 223, 213, 0.979);
  transform: translateY(-.2rem);
}

/* links botão */
/* =============================================== */
.link-1 {
  font-size: 1.8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(0, 0%, 1%, 0.973);
  border-radius: 100rem;
  padding: 1.4rem 5.2rem;

  transition: .2s;
}

.link-1:hover,
.link-1:focus {
  transform: translateY(-.2rem);
  box-shadow: 0 0 4.4rem .2rem hsl(0, 100%, 51%);
}

.link-2 {
  width: 4rem;
  height: 4rem;
  border: 1px solid rgb(255, 249, 249);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.link-2::before {
  content: '×';

  transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
  border-color: rgb(14, 0, 0);
  transform: translateY(-.2rem);
}


.btn:hover{
    letter-spacing: .2rem;
}

.header{
    /*background: var(--bg);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
   
}

.header .logo img{
    height: 6rem;
    border-radius: 50%;
}

.header .navbar a{
    top: -50%;
    margin:0 1rem;
    font-size: 1.6rem;
    color:rgb(255, 250, 250);
    border-radius: 50%;

}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    color: rgb(226, 13, 13);
    border-radius: 50%;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}


.home{
    height: 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/capa.jpg) no-repeat;
    background-size: cover;
   
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 3rem;
   text-transform: uppercase;
    color:rgb(238, 238, 238);
}

.home .content p{
    font-size: 2.5rem;
    font-family: Georgia;
    line-height: 1.2;
    padding:1rem 0;
    color:rgb(253, 231, 242);
}

.about .row{
    display: flex;
    align-items: center ;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 50%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5em;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);  

    
}

.menu .box-container .box img{
    height: 20rem;

  
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}


.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--main-color);
}

.products .box-container .box .image{
    padding: 1.5rem 0;
}

.products .box-container .box .image img{
    height: 35rem;
}

.products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 3.7rem;
    color: var(--main-color);
}


.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: none;
}


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
   transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}


.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: rgb(238, 6, 6);
        width: 23rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color: var(--b);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 3rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
       
    }

    .home .content h3{
        font-size: 1.5rem;
    }

    .home .content p{
        font-size: 2rem;
    }
    .modal {
        width: 50rem;
        padding: 2rem 2rem;
        border-radius: .8rem;
      
        color: var(--light);
        background: var(--background);
        box-shadow: .4rem .4rem 2.4rem .2rem hsl(172, 99%, 49%);
        position: relative;
      
        overflow: hidden;
      }

}

@media (max-width:450px){

    html{
        font-size: 30%;
    }
 
    .modal {
        width: 100%;
        padding: 2rem 2rem;
        border-radius: .8rem;
      
        color: var(--light);
        background: var(--background);
        box-shadow: .4rem .4rem 2.4rem .2rem hsl(172, 99%, 49%);
        position: relative;
      
        overflow: hidden;
      }

}
